{
  "parserOptions": {
    "ecmaVersion": 8
  },
  "extends": "airbnb-base",
  "plugins": [
    "json"
  ],
  "env": {
    "mocha": true
  },
  "rules": {
    "no-param-reassign": [2, {"props": false}],
    "prefer-arrow-callback": 0,
    "newline-per-chained-call": 0,
    "no-underscore-dangle": 0,
    "global-require": 0,
    "no-unused-expressions": 0,
    "class-methods-use-this": 0
  }
}
