{
  "include": [
    "src/**/*.js"
  ],
  "exclude": [
    "src/**/*.spec.js"
  ],
  "sourceMap": false,
  "instrument": false,
  "cache": true,
  "clean": false,
  "reporter": [
    "lcov",
    "json",
    "text-summary"
  ]
}
